* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--color-honey-dew: #f1faee;
	--color-berkley-blue: #1d3557;
	--color-non-photo-blue: #a8dadc;
	--color-cerulean: #457b9d;
	--color-pantone: #e63946;

	font-size: 18px;
}

body, #root {
	position: relative;
	font-family: "Ubuntu", sans-serif;
	font-weight: 400;
	max-width: 100vw;
	height: 100vh;
	height: 100dvh;
	position: relative;
	background-color: var(--color-honey-dew);
}

body * {
	font-family: "Ubuntu", sans-serif;
}
