.captcha__wrapper * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: initial;
}

.captcha__btn {
	background-color: #f9f9f9;
	border: 2px solid #d8d8d8;
	border-radius: 4px; 
	color: #b7b7b7;
	padding: 16px 48px 8px 16px;
}

.captcha__btn:focus {
	outline: none;
}

.captcha__btn__main {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 16px;
}

.captcha__btn__main p {
	color: #000;
	font-size: 18px;
}

.captcha__btn__footer p {
	text-align: right;
	font-size: 12px;
}

.captcha__unchecked {
	width: 32px;
	height: 32px;
	background-color: #fff;
	border: 3px solid #b0b0b0;
}