.wasd__display {
	padding: 16px 0;
}

.wasd__display__row {
	display: flex;
	justify-content: center;
	gap: 8px;
}

.wasd__display__row:last-child {
	margin-top: 8px;
}

.wasd__key {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 22px;
	width: 50px;
	height: 50px;
	background-color: #b0b0b0;
	border-radius: 4px;
}

.wasd__key.active {
	background-color: var(--color-yellow);
}

.wasd__key.wrong {
	background-color: var(--color-red);
}

.wasd__key.correct {
	background-color: var(--color-green);
}
