.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.header__info {
	flex-grow: 1;
	width: 90%;
}

.form__pin__wrapper {
	margin-top: 40px;
	display: flex;
	justify-content: center;
}

.form__btn button {
	background-color: #578fdc;
	border: none;
	color: white;
	width: 200px;
	display: block;
	margin: 0 auto;
	text-align: center;
	margin-top: 24px;
	margin-bottom: 16px;
	font-size: 16px;
	padding: 8px 16px;
	border-radius: 4px;
}

.form__btn button:focus {
	outline: none;
}
.form__btn button:disabled {
	background-color: #b0b0b0;
}