.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.header__info {
	width: 80%;
}

.header__info h3 {
	font-weight: 500;
	font-size: 18px;
	margin-bottom: 4px;
}

.header__info p {
	font-size: 14px;
}

.form__pin__wrapper {
	margin-top: 40px;
	display: flex;
	justify-content: center;
}

.form__btn__wrapper {
	margin: auto;
	width: 200px;
	text-align: center;
	margin-top: 24px;
	margin-bottom: 16px;
}


.enter_pin {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 16px;
	margin-top: 40px;
	margin-bottom: 32px;
}

.enter_pin button {
	background-color: #b0b0b0;
}

.enter_pin span {
	font-size: 40px;
}