.form__pin {
	display: inline-flex;
	gap: 8px;
}

.form__pin input[type="number"] {
	display: block;
	font-size: 40px;
	width: 40px;
	padding: 0;
	margin: 0;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #000;
	text-align: center;
	box-sizing: border-box;
	--moz-apperance: textfield;
	caret-color: transparent;
}

.form__pin input[type="number"]::-webkit-outer-spin-button,
.form__pin input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.form__pin input[type="number"]:focus {
	outline: none;
	border-color: #578fdc;
	border-width: 4px;
}

.form__pin input[type="number"]:focus::placeholder {
	visibility: hidden;
}